@import "colors";

$primary-50:	$indigo-50 !default;
$primary-100:	$indigo-100 !default;
$primary-200:	$indigo-200 !default;
$primary-300:	$indigo-300 !default;
$primary-400:	$indigo-400 !default;
$primary-500:	$indigo-500 !default;
$primary-600:	$indigo-600 !default;
$primary-700:	$indigo-700 !default;
$primary-800:	$indigo-800 !default;
$primary-900:	$indigo-900 !default;
$primary-A100:	$indigo-A100 !default;
$primary-A200:	$indigo-A200 !default;
$primary-A400:	$indigo-A400 !default;
$primary-A700:	$indigo-A700 !default;

$accent-50:	$pink-50 !default;
$accent-100:	$pink-100 !default;
$accent-200:	$pink-200 !default;
$accent-300:	$pink-300 !default;
$accent-400:	$pink-400 !default;
$accent-500:	$pink-500 !default;
$accent-600:	$pink-600 !default;
$accent-700:	$pink-700 !default;
$accent-800:	$pink-800 !default;
$accent-900:	$pink-900 !default;
$accent-A100:	$pink-A100 !default;
$accent-A200:	$pink-A200 !default;
$accent-A400:	$pink-A400 !default;
$accent-A700:	$pink-A700 !default;

$inputField-selector: "input[type="text"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="url"]";

$button-selector: "button, .button, input[type="submit"], input[type="button"], input[type="reset"]";

