@import "material";
@import "compass/css3";

@import "design/buttons";
@import "design/inputs";

body
{
    font-family:	RobotoDraft, Roboto, sans-serif;
    font-size:		13px;
    font-weight:	400;
    color:			rgba(#000, 0.87);
    background-color: $grey-50;
	&.light, .light &{
		background-color: $grey-200;
	}
	&.dark, .dark &{
		background-color: #333;
	}
}

.toolbar
{
    background-color: $primary-500;
}

.container{
	&.dark
	{
		background-color: #333;
	}
	&.card{
		margin: 8px 8px 0px;
		padding: 0px;
		@include z-depth(5);
		&:last-of-type{
			margin-bottom: 8px;
		}
	}
}

body, div, iframe{ 
	@extend .container;
}

.snackbar
{
    min-height:			48px;
    min-width:			288px;
    max-width:			568px;
	padding:			16px 24px 12px;
    @include			border-radius(2px);
	font-family:		RobotoRegular, Roboto, sans-serif;
	font-size:			14px;
	font-weight:		400;
	background-color:	#323232;
	@include button{
		@extend .flat;
		@extend .color;
		margin: 0px;
	}
}