@import url("http://fonts.googleapis.com/css?family=RobotoDraft:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i|Roboto:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i");

$font-family:	"RobotoDraft, Roboto, sans-serif";

$font-sizes:(
//Values from:
//http://material-design.storage.googleapis.com/images/style-typography1_large_mdpi.png
"display-4":	112px,
"display-3":	56px,
"display-2":	45px,
"display-1":	34px,
"headline":		24px,
"title":		20px,
"subhead":		15px,
"body-2":		13px,
"body-1":		13px,
"caption":		12px,
"menu":			13px,
"button":		14px
);

@function font-size($type: "body-1")
{
	@return map-get($font-sizes, $type);
}

$font-weights:(
//Values from:
//http://material-design.storage.googleapis.com/images/style-typography1_large_mdpi.png
"display-4":	300,
"display-3":	400,
"display-2":	400,
"display-1":	400,
"headline":		400,
"title":		500,
"subhead":		400,
"body-2":		500,
"body-1":		400,
"caption":		400,
"menu":			500,
"button":		500
);

@function font-weight($type: "body-1")
{
	@return map-get($font-weights, $type);
}

$black-alphas:(
	"text":		0.87,
	"icon":		0.54,
	"secondary":0.54,
	"disabled":	0.26,
	"hint":		0.26,
	"divider":	0.12
);

$white-alphas:(
	"text":		1,
	"icon":		1,
	"secondary":0.7,
	"disabled":	0.3,
	"hint":		0.3,
	"divider":	0.12
);

$alphas:(
	#000:	$black-alphas,
	#FFF:	$white-alphas
);


$opacities:(
//Values from
//http://material-design.storage.googleapis.com/images/style-typography-16_large_mdpi.png
"display-4":	"secondary",
"display-3":	"secondary",
"display-2":	"secondary",
"display-1":	"secondary",
"headline":		"text",
"title":		"text",
"subhead":		"text",
"body-2":		"text",
"body-1":		"text",
"caption":		"secondary",
"menu":			"text",
"button":		"text",
);

@function opacity($type: "body-2")
{
	@return map-get($opacities, $type);
}

@function font-color($fg-color: #000, $type : "text")
{
	$alphas-map: map-get($alphas, rgba($fg-color, 1));
	@if map-has-key($alphas-map, $type){
		@return rgba($fg-color, map-get($alphas-map, $type));
	}
	@else if map-has-key($opacities, $type){
		$alpha-key: map-get($opacities, $type);
		@return rgba($fg-color, map-get($alphas-map, $alpha-key));
	}
	@else{
		@error "Unknown $type: {$type}";
	}
}

$line-heights:(
//Values from:
//http://material-design.storage.googleapis.com/images/style-typography-25_large_mdpi.png
"display-2":	48pt,
"display-1":	40pt,
"headline":		32pt,
"subhead-2":	28pt,
"subhead-1":	24pt,
"body-2":		24pt,
"body-1":		20pt,
);

@function line-height($type: "body-2")
{
	@return map-get($line-heights, $type);
}