@import "compass";
@import "material";


@at-root
{
body
{
    font-family:			RobotoDraft, Roboto, sans-serif;
    font-size:				13px;
    font-weight:			font-weight();
    color:					font-color(black, text);
    background-color:		$grey-50;
	&.light, .light &
	{
		background-color:	$grey-200;
		color:				font-color(black, text);
	}
	&.dark, .dark &
	{
		background-color:	#333;
		color:				font-color(white, text);
	}
}
}

#{$button-selector}
{
	@extend %button;
}

#{$inputField-selector}
{
	@extend %inputField
}

.toolbar
{
    background-color: $primary-500;
}

.container
{
	&.dark
	{
		background-color: #333;
	}
	&.card
	{
		margin:		8px 8px 0px;
		padding:	0px;
		@include	z-depth(5);
		&:last-of-type
		{
			margin-bottom: 8px;
		}
	}
}

div, iframe, section, article
{ 
	@extend .container;
}

.snackbar
{
    min-height:			48px;
    min-width:			288px;
    max-width:			568px;
	padding:			16px 24px 12px;
    @include			border-radius(2px);
	font-family:		RobotoRegular, Roboto, sans-serif;
	font-size:			14px;
	font-weight:		400;
	background-color:	#323232;
	%button
	{
		@extend		.flat;
		@extend		.color;
		margin:		0px;
	}
}

.tooltip
{
	font-size:			10px;
	color:				rgba(#FFF, 0.87);
	background-color:	rgba(#000, 0.9);
}
