//Values from:
//http://www.google.com/design/spec/style/color.html#color-ui-color-palette

//Blue
$blue-50:	#e7e9fd;
$blue-100:	#d0d9ff;
$blue-200:	#afbfff;
$blue-300:	#91a7ff;
$blue-400:	#738ffe;
$blue-500:	#5677fc;
$blue-600:	#4e6cef;
$blue-700:	#455ede;
$blue-800:	#3b50ce;
$blue-900:	#2a36b1;
$blue-A100:	#a6baff;
$blue-A200:	#6889ff;
$blue-A400:	#4d73ff;
$blue-A700:	#4d69ff;

$blue: 
(50:	$blue-50,
100:	$blue-100,
200:	$blue-200,
300:	$blue-300,
400:	$blue-400,
500:	$blue-500,
600:	$blue-600,
700:	$blue-700,
800:	$blue-800,
900:	$blue-900,
A100:	$blue-A100,
A200:	$blue-A200,
A400:	$blue-A400,
A700:	$blue-A700);