//Values from:
//http://www.google.com/design/spec/style/color.html#color-ui-color-palette

//Light Green
$lightGreen-50:		#f1f8e9;
$lightGreen-100:	#dcedc8;
$lightGreen-200:	#c5e1a5;
$lightGreen-300:	#aed581;
$lightGreen-400:	#9ccc65;
$lightGreen-500:	#8bc34a;
$lightGreen-600:	#7cb342;
$lightGreen-700:	#689f38;
$lightGreen-800:	#558b2f;
$lightGreen-900:	#33691e;
$lightGreen-A100:	#ccff90;
$lightGreen-A200:	#b2ff59;
$lightGreen-A400:	#76ff03;
$lightGreen-A700:	#64dd17;

$lightGreen: 
(50:	$lightGreen-50,
100:	$lightGreen-100,
200:	$lightGreen-200,
300:	$lightGreen-300,
400:	$lightGreen-400,
500:	$lightGreen-500,
600:	$lightGreen-600,
700:	$lightGreen-700,
800:	$lightGreen-800,
900:	$lightGreen-900,
A100:	$lightGreen-A100,
A200:	$lightGreen-A200,
A400:	$lightGreen-A400,
A700:	$lightGreen-A700);
