//Values from:
//http://www.google.com/design/spec/style/color.html#color-ui-color-palette

//Purple
$purple-50:	#f3e5f5;
$purple-100:	#e1bee7;
$purple-200:	#ce93d8;
$purple-300:	#ba68c8;
$purple-400:	#ab47bc;
$purple-500:	#9c27b0;
$purple-600:	#8e24aa;
$purple-700:	#7b1fa2;
$purple-800:	#6a1b9a;
$purple-900:	#4a148c;
$purple-A100:	#ea80fc;
$purple-A200:	#e040fb;
$purple-A400:	#d500f9;
$purple-A700:	#aa00ff;

$purple: 
(50:	$purple-50,
100:	$purple-100,
200:	$purple-200,
300:	$purple-300,
400:	$purple-400,
500:	$purple-500,
600:	$purple-600,
700:	$purple-700,
800:	$purple-800,
900:	$purple-900,
A100:	$purple-A100,
A200:	$purple-A200,
A400:	$purple-A400,
A700:	$purple-A700);

@function purple($hue)
{
	@return map-get($purple, $hue);
}