//Values from:
//http://www.google.com/design/spec/style/color.html#color-ui-color-palette

// Red
$red-50:	#fde0dc;
$red-100:	#f9bdbb;
$red-200:	#f69988;
$red-300:	#f36c60;
$red-400:	#e84e40;
$red-500:	#e51c23;
$red-600:	#dd191d;
$red-700:	#d01716;
$red-800:	#c41411;
$red-900:	#b0120a;
$red-A100:	#ff7997;
$red-A200:	#ff5177;
$red-A400:	#ff2d6f;
$red-A700:	#e00032;

$red: 
(50:	$red-50,
100:	$red-100,
200:	$red-200,
300:	$red-300,
400:	$red-400,
500:	$red-500,
600:	$red-600,
700:	$red-700,
800:	$red-800,
900:	$red-900,
A100:	$red-A100,
A200:	$red-A200,
A400:	$red-A400,
A700:	$red-A700);

@function red($hue: 500)
{
	@return map-get($red, $hue);
}