//Values from:
//http://www.google.com/design/spec/style/color.html#color-ui-color-palette

//Teal
$teal-50:	#e0f2f1;
$teal-100:	#b2dfdb;
$teal-200:	#80cbc4;
$teal-300:	#4db6ac;
$teal-400:	#26a69a;
$teal-500:	#009688;
$teal-600:	#00897b;
$teal-700:	#00796b;
$teal-800:	#00695c;
$teal-900:	#004d40;
$teal-A100:	#a7ffeb;
$teal-A200:	#64ffda;
$teal-A400:	#1de9b6;
$teal-A700:	#00bfa5;

$teal: 
(50:	$teal-50,
100:	$teal-100,
200:	$teal-200,
300:	$teal-300,
400:	$teal-400,
500:	$teal-500,
600:	$teal-600,
700:	$teal-700,
800:	$teal-800,
900:	$teal-900,
A100:	$teal-A100,
A200:	$teal-A200,
A400:	$teal-A400,
A700:	$teal-A700);
