@import "compass/css3";
@import "material/helpers";

@mixin button($options...){
	@include button-color-extended($primary, 
		":hover", 
		":active", 
		":focus", 
		":disabled",
		$options);
}

@mixin button-color($color-map, $options...){
	
	@include button-color-extended($color-map, 
		":hover", 
		":active", 
		":focus", 
		":disabled",
		append($options, color));
}

@mixin button-extended($hover, $active, $focus, $disabled, $options...){
	@include button-color-extended($primary, $hover, $active, $focus, $disabled, $options);
}

@mixin button-color-extended($color-map, $hover, $active, $focus, $disabled, $options){
	@if list-contains($options, layout){
		height:			36px;
		min-width:		88px;
		padding:		0px 16px;
		@include		box-sizing(border-box);
		text-transform:	uppercase;
		font-size:		font-size("button");
		font-family:	unquote($font-family);
		font-weight:	font-weight("button");
		text-align:		center;
		vertical-align: middle;

		@include		border-radius(2px);
		@include		background-image(none);
		border:			none;
	}
	@if list-contains($options, raised){
		@extend %raised !optional;
		@include	z-depth(1);
		@include	transition(background-color 200ms, box-shadow 200ms, color 200ms);
		&#{$focus}, &#{$hover}{
			@include z-depth(2);
		}
		&#{$active}{
			@include z-depth(3);
		}

		@if list-contains($options, color) or list-contains($options, dark){
			@extend %color !optional;
			@include background-color(map-get($color-map, 500));
			&#{$hover}	{ @include background-color(map-get($color-map, 600)); }
			&#{$active}	{ @include background-color(map-get($color-map, 700)); }
		} @else {
			color: font-color(black, button);
			background-color: $grey-50;
			&#{$hover}	{ background-color: $grey-50 - (invert(#999) * 0.20) }
			&#{$active}	{ background-color: $grey-50 - (invert(#999) * 0.40); }
		}
		&#{$disabled} { 
			@include z-depth(0);
			background-color: rgba(if(list-contains($options, dark), white, black), 0.12);
			color:	if(list-contains($options, dark),rgba(white, 0.30), rgba(black, 0.26));
		}

	} @else if list-contains($options, flat) {
		@extend %flat !optional;
		@include	z-depth(0);
		@include	transition(background-color 200ms, box-shadow 200ms, color 200ms);
		background-color: transparent;

		@if list-contains($options, dark){
			@if list-contains($options, color){
				@extend %color !optional;
				color:	map-get($color-map, 500);
			} @else {
				color:	font-color(white, button);
			}
			&#{$hover}	{ background-color: rgba(#CCC, 0.15); }
			&#{$active}	{ background-color: rgba(#CCC, 0.25); }
		} @else {
			@if list-contains($options, color){
				@extend %color !optional;
				color:	map-get($color-map, 500);
			} @else {
				color:	font-color(black, button);
			}
			&#{$hover}	{ background-color: rgba(#999, 0.2); }
			&#{$active}	{ background-color: rgba(#999, 0.4); }
		}
		&#{$disabled}{
			color:	if(list-contains($options, dark),rgba(white, 0.30), rgba(black, 0.26));
		}
	} @else {
		@if list-contains($options, light){
			&#{$disabled}{
				color: rgba(black, 0.26);
			}
		} @else if list-contains($options, dark){
			&#{$disabled}{
				color: rgba(white, 0.30);
			}
		}
	}
}