@import "compass/css3";
@import "material/helpers";

%button 
{
    height:			36px;
    min-width:		88px;
	padding:		8px 16px;
	@include		box-sizing(border-box);
    text-transform:	uppercase;
	font-size:		font-size("button");
	font-family:	unquote($font-family);
	font-weight:	font-weight("button");
	text-align:		center;
	vertical-align: middle;

    @include		border-radius(2px);
	@include		background-image(none);
    border:			none;
    @include		transition(background-color 200ms, box-shadow 200ms, color 200ms);
	&, &.raised
	{
		color: font-color(black, button);
		@include z-depth(1);
		&:focus, &:hover{
			@include z-depth(2);
		}
		&:active{
			@include z-depth(3);
		}
		background-color: $grey-50;
		&:hover		{ background-color: $grey-50 - (invert(#999) * 0.20) }
		&:active	{ background-color: $grey-50 - (invert(#999) * 0.40); }
		&:disabled	{ background-color: rgba(#999, 0.1); }

		&.color{
			@include background-color($primary-500);
			&:hover		{ @include background-color($primary-600); }
			&:active	{ @include background-color($primary-700); }
		}
		//@each $name, $color in $colors
		//{
		//	&.#{"" + $name}, &[color="#{"" + $name}"]
		//	{
		//		@include background-color(map-get($color, 500),button);
		//		&:hover		{ @include background-color( map-get($color, 600), button); }
		//		&:active	{ @include background-color( map-get($color, 700), button); }
		//	}
		//}
	}
	&.flat
    {
		@include z-depth(0);
		background-color: transparent;

		color:		rgba(#000, 0.87);
		&:hover		{ background-color: rgba(#999, 0.2); }
		&:active	{ background-color: rgba(#999, 0.4); }
		&:disabled	{ background-color: rgba(#999, 0.1); }

		&.color		{ color: $primary-500; }
		//@each $name, $color in $colors
		//{
		//	&.#{"" + $name}, &[color*="#{"" + $name}"]
		//	{
		//		color: map-get($color, 500);
		//	}
		//}
    }
}

%button.dark,
.dark %button,
.light .dark %button
{
	&, &.raised
	{
		color: font-color(black, button);
		background-color: #DFDFDF;
		&:hover		{ background-color: #DFDFDF - (invert(#ccc) * 0.15) }
		&:active	{ background-color: #DFDFDF - (invert(#ccc) * 0.25); }
		&:disabled	{ background-color: rgba(#ccc, 0.1); }
	}
	&.flat
    {
		color:		font-color(white, button);
		&:hover		{ background-color: rgba(#ccc, 0.15); }
		&:active	{ background-color: rgba(#ccc, 0.25); }
		&:disabled	{ background-color: rgba(#ccc, 0.1); }
    }
}

%button.light,
.light %button,
.dark .light %button
{
	&, &.raised
	{
		background-color: $grey-50;
		&:hover		{ background-color: $grey-50 - (invert(#999) * 0.20) }
		&:active	{ background-color: $grey-50 - (invert(#999) * 0.40); }
		&:disabled	{ background-color: rgba(#999, 0.1); }
	}
	&.flat
    {
		color:		font-color(black, button);
		&:hover		{ background-color: rgba(#999, 0.2); }
		&:active	{ background-color: rgba(#999, 0.4); }
		&:disabled	{ background-color: rgba(#999, 0.1); }
    }
}