@import "material";
@import "compass/css3";

@mixin border-bottom-width($width){
	border-bottom-width:	$width;
	margin-bottom:			8px - $width;
}

@mixin inputField($color, $options...){
	@include inputField-extended($color,":active", ":focus", ":disabled", ":invalid", $options...)
}

@mixin inputField-extended($color, $active, $focus, $disabled, $invalid, $options...)
{
	@if list-contains($options, layout){
		font-size:				16px;
		font-weight:			font-weight(inputField);
		font-family:			RobotoDraft, Roboto, sans-serif;
		line-height:			20px;
		@include				border-radius(0px);
		@include				box-shadow(none);
		border:					none;
		background-color:		transparent;
		border-bottom-style:	solid;
		margin:		8px 0px 8px;
		padding:	6px 0px 6px;
		@include	border-bottom-width(1px);
		@include	transition(color 200ms, border-bottom-color 200ms);
		&#{$active}, &#{$focus}{
			@include border-bottom-width(2px);
			border-bottom-color:	$color;
		}
		&#{$disabled} {
			@include border-bottom-width(2px);
			border-bottom-style:	dotted;
		}
		&#{$invalid} {
			@include border-bottom-width(2px);
			border-bottom-color:	$red-500;
		}
		%floatingLabel + & {
			margin-top:		0px;
		}
	}
	@if list-contains($options, dark){
		color:					font-color(white, text);
		border-bottom-color:	font-color(white, divider);
		&#{$active}, &#{$focus}{
			border-bottom-color:	$color;
		}
		&#{$invalid} {
			border-bottom-color:	$red-500;
		}
	} @else if list-contains($options, light){
		color:					font-color(black, text);
		border-bottom-color:	font-color(black, divider);
		&#{$active}, &#{$focus}{
			border-bottom-color:	$color;
		}
		&#{$invalid} {
			border-bottom-color:	$red-500;
		}
	}

	@include placeholder{
		@if list-contains($options, layout){
			font-size:		16px;
			font-weight:	font-weight(inputField);
		}
		@if list-contains($options, dark){
			color:			font-color(white,hint);
			opacity:		1;
		} @else if list-contains($options, light){
			color:			font-color(black,hint);
			opacity:		1;
		}

	}
}

@mixin floatingLabel($options...){
	@extend %floatingLabel !optional;
	font-weight:	500;
	font-size:		12px;
	display:		block;
	margin:			0px;
	padding:		0px;
	padding-top:	16px;
	@if list-contains($options, dark){
		color:		font-color(white, hint);
	} @else{
		color:		font-color(black, hint);
	}
}