// Container Properties

@mixin display-flex( $display: flex )	// flex, inline-flex
{
	display: -webkit-box;	//OLD - iOS 6-, Safari 3.1-6
	display: -moz-box;		//OLD - Firefox 19- (buggy but mostly works)
	display: -ms-flexbox;	//TWEENER - IE 10
	display: -webkit-flex;	//NEW - Chrome
	display: $display;		//NEW, Spec - Opera 12.1, Firefox 20+
}

@mixin flex-direction($value)	// row, row-reverse, column, column-reverse
{
	-webkit-flex-direction:	$value;
	-moz-flex-direction:	$value;
	-ms-flex-direction:		$value;
	flex-direction:			$value;
}

@mixin flex-wrap($value)	// nowrap, wrap, wrap-reverse
{
	-webkit-flex-wrap:	$value;
	-moz-flex-wrap:		$value;
	-ms-flex-wrap:		if($value == nowrap, none, $value);
	flex-wrap:			$value;
}

@mixin justify-content($value)	// flex-start, flex-end, center, space-between, space-around
{
	-webkit-justify-content:	$value;
	-moz-justify-content:		$value;
	@if $value == flex-start {
		-ms-flex-pack:			start;
	} @else if $value == flex-end {
		-ms-flex-pack:			end;
	} @else if str-slice($value, 1, 5) == space {
		-ms-flex-pack:			justify;
	} @else {
		-ms-flex-pack:			$value
	}
	justify-content:			$value;
}

@mixin align-items($value)	// flex-start, flex-end, center, baseline, stretch
{
	-webkit-align-items:	$value;
	-moz-align-items:		$value;
	@if $value == flex-start {
		-ms-flex-align:		start;
	} @else if $value == flex-end {
		-ms-flex-align:		end;
	} @else {
		-ms-flex-align:		$value;
	}
	align-items:			$value;
}

// Child Properties

@mixin flex-grow($value) {
	-webkit-flex-grow:	$value;
	-moz-flex-grow:		$value;
	-ms-flex-positive:	$value;
	flex-grow: 			$value;
}

@mixin flex-shrink($value) {
	-webkit-flex-shrink:	$value;
	-moz-flex-shrink:		$value;
	-ms-flex-negative:		$value;
	flex-shrink: 			$value;
}

@mixin flex-base($value) {
	-webkit-flex-base:			$value;
	-moz-flex-base:				$value;
	-ms-flex-preferred-size:	$value;
	flex-base: 					$value;
}

@mixin flex($values) {
	-webkit-box-flex:	$values;
	-moz-box-flex:		$values;
	-webkit-flex:		$values;
	-ms-flex:			$values;
	flex:				$values;
}

@mixin order($val) {
	-webkit-box-ordinal-group:	$val;
	-moz-box-ordinal-group:		$val;
	-ms-flex-order:				$val;
	-webkit-order:				$val;
	order:						$val;
}
